* {
    margin: 0;
    font-family: Arial;
   /* border: border-box;*/
}

.navbar {
    height: 60px;
    width: 100vw;
    position: fixed;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;

}

.nav-logo {
    height: 60px;
    width: 113px;
}

.logo {
    background-image: url(ama.bl.webp);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
    margin-top: 3px;
}

.add-first {
    color: #cccc;
    font-size: 0.5rem;
    margin-left: 15px;
    margin-top: 25px;

}

.add-second {
    font-size: rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.search-input {
    font-size: 20px;
    width: 100%;
    font-size: 1rem;
    border: none;
}

.nav-search {
    background-color: pink;
    width: 620px;
    height: 40px;
    justify-content: space-evenly;
    border-radius: 4px;
    display: flex;
}

.search-select {
    display: flex;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

/**Box4**/

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
}

.nav-cart i {
    font-size: 25px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    position: relative;
    width: 3em;
    height: 3em;
}

/*BurgerMenu */
.burgerMenu {
    background-color: #222f3d ;
    width: 100%;
    height: 40px;
    line-height:40px;
    top: 55px;
    position: fixed;
}
#menu-toggle {
    margin-left: 10px;
}
#menu-list {
    
    background: #dddddd;
    width: 250px;
    height: 100vh;
    list-style: none;
    padding: 0;
    margin-left:0px;
}
#menu-list a {
    color:#222f3d;
    text-decoration: none;
}
#menu-list li {
    padding-left: 20px;
    border-bottom: 1px solid #222f3d ;
}
.hidden {
    visibility: hidden;
}
.active {
    visibility: visible;
animation:slide-in 0.3s ease-in-out;
}

@keyframes slide-in {
    0%{
       transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slide-out {
    0%{
       transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.Elecktronic {
    font-size: 0.90rem;
    font-weight: 700;
}

.hero-sec {
    background-image: url(hero-image.jpg);
    background-size: cover;
    padding-top: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}

.box-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e5530f;
}

.box {
    background-color: white;
    background-size: cover;
    padding: 20px, 0px, 15px;
    margin-top: 15px;
    width: 23%;
    border: 1px solid salmon;
}

.box-img {
    height: 300px;
    background-size: cover;
}

.box-contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.footer {
    margin-top: 15px;
}

.footer-panel1 {
    cursor: pointer;
    background-color: #37475a;
    color: white;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.footer-panel1:hover {
    background-color:#37475a92;
}

.panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    justify-content: center;
}
.panel2  a {
    display: block;
    padding-left: 45%;
    padding-top: 2rem;
    color: #dddddd;
}
ul {
    margin-top: 100px;

}

ul a {
    display: flex;
    text-decoration: none;
    font-size: 1rem;
    color: #dddddd;
    margin-top: 10px;
}

.foot-panel3 {
    background-color: #222f3d;
}
.foot-panel3 {
    background-color: #222f3d;
    height: 100px;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    padding-top: 2rem;

}

.logo {
    background-image: url(ama.bl.webp);
    background-size: cover;
    height: 50px;
    width: 100px;
}

/* For main page - Xuyen */
.img-home {
    width: 10em;
    margin-top: 1.5em
}

.more-btn {
    margin: 2em auto;
    position: relative;
    left: 45vw;
    height: 3em;
    background-color: #e5530f;
    border: 1px solid orange;
    border-radius: 8px;
    cursor: pointer;
}

/* For searh page */
.notice {
    color: blue;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.search-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 1em;
}

.box-search {
    background-color: white;
    background-size: cover;
    padding: 1em;
    margin-top: 15px;
    width: 20vw;
    border: 1px solid rgb(16, 53, 219);
}

.search-select {
    display: flex;
    justify-content: start;
}

/* For product page - Xuyen */
.product-center {
    display: flex;
    justify-content: space-around;
    padding: 1em;

}

.image-product {
    width: 20em;
    padding: 1em;
}

.product-left-side {
    border: 1px solid gainsboro;
}

.btn {
    background-color: #febd68;
    width: 15em;
    padding: .5em;
    border: 1px solid #febd68;
    border-radius: 15px;
    margin: .5em 0;
    cursor: pointer;
}

.add {
    background-color: rgb(240, 227, 42);
}

.continue {
    background-color: pink;
}

#quantity {
    width: 15em;
    padding: .5em;
    border-radius: 15px;
    cursor: pointer;
}

.other-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    border: 2px solid gainsboro;
    text-transform: uppercase;


}

.path-product {
    padding: 1em;

    color: rgb(139, 131, 131);
}

.product-right-side {
    border: 1px solid gainsboro;
    padding: 0 1em;
}

.product-middle-side {
    padding: 0 1em;
}

.related-products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.more {
    width: 10em;

}

a {
    text-decoration: none;
}

/* cart page */
#cart {
    position: absolute;
    top: .9em;
    left: 1.4em;
    width: 100%;
    height: 100%;
    z-index: 2; /* top layer */
    display: block;
    /* Optional styling */
    background-color: transparent;
    color: greenyellow;
}

.cart-sum {
    color: black;
}

.img-cart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* background layer */
}

.cart-page {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em;
}

.cartpage {
    border: 1px solid gray;
    background-color: hsla(0, 36%, 96%, 0.849);
    padding: 1em;
}

.cleft {
    display: flex;
    flex-direction: column;
}

.clist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid gray;
    gap: 2em;
}

.delete-link {
    font-size: small;
    color: #726868;
}

.cart-ql {
    color: rgb(214, 24, 56);
}

/* middle page - before go to cart for payment*/
.middle-page {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: .5em;
}

.middleside {
    border: 1px solid gray;
    background-color: hsla(0, 36%, 96%, 0.849);
    padding: 1em;
    
}

.left {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}

.total-price {
    color: rgb(228, 81, 23);
    font-size: 2em;
    font-weight: bold;
}

.middleside-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:1150px) {
    .nav-signin {
        display: none;
    }
}